#django==1.7
#https://www.djangoproject.com/download/1.7c1/tarball/
django
south
psycopg2
werkzeug

dj-database-url
python-social-auth
boto

django-widget-tweaks

#python-dateutils
#django-storages
#django-toolbelt

gunicorn # Needed for heroku


