{% extends 'theme/base.html' %}
{#{% load i18n %}#}
{% load url from future %}

{#{% trans "This is the title" as the_title %}#}

{% block meta_description %}{{ the_title }}{% endblock %}
{% block title %}{{ the_title }}{% endblock %}


{% block maincontent %}

    <br>
    <br>

    <h1>Login Examples</h1>
    <br>
    <br>

    <div>Working Example:</div>

    <a href="{% url 'social:begin' "google-oauth2" %}">
        <img src="{{ STATIC_URL }}images/login-google.png" alt="Google">
    </a>

    <br>
    <br>
    <br>

    <div>Other Examples that are not configured.</div>

    <a href="{% url 'social:begin' "facebook" %}">
        <img src="{{ STATIC_URL }}images/login-facebook.png" alt="Facebook">
    </a>
    <a href="{% url 'social:begin' "yahoo-oauth" %}">
        <img src="{{ STATIC_URL }}images/login-yahoo.png" alt="Yahoo">
    </a>
    <br>
    <br>

    <a href="/private">Private page [login required]</a>
{% endblock %}


{% block bottomscript %}
{#    <script src="/static/js/main.js"></script>#}
{% endblock %}
